<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="/"><h3>Ekia</h3></a>
    <form class="form-inline my-2 my-lg-0" action="/" method="GET">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" name="search" {% if search is defined and search != "" %}value={{search}}{% endif %} aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
</nav>